.pWelcome {
    margin-top: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 500;
    height: auto;
    border: 5px solid lightblue;
    border-radius: 15px;
    margin-right:auto;
    margin-bottom:auto;
    margin-left:auto;
   	text-align:center;
    color:black;
    background: lightblue;
    
}

.welcome{
    margin-top: 80px;
}
.divLogin {
    margin-top: 25px;
    width: 500;
    height: 200;
    border: 5px solid lightblue;
    border-radius: 15px;
    margin-right:auto;
    margin-bottom:auto;
    margin-left:auto;
   	text-align:center;
    color:black;
    background: lightblue;
    
}

body {
	background: url("../img/bc.jpg") no-repeat center center fixed;
	background-size: cover;
    background-attachment: fixed;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #666;
}

.inputUser{
    border: solid 1px #dbdbdb;
    border-radius: 15px;
    color: #262626;
    font-size: 14px;
    padding: 3px 10px 3px 26px;
    outline: none;
}
.inputPass{
    border: solid 1px #dbdbdb;
    border-radius: 15px;
    color: #262626;
    font-size: 14px;
    padding: 3px 10px 3px 26px;
    outline: none;
}
button {
  display: inline-block;
  padding: 5px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
    background-color:darkcyan;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.bottom-page{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 60px;
	border-top: 2px solid #d0d4d9;
	box-shadow: 0px 0px 8px;
  text-align:center;
  overflow: hidden;
  text-align: center;
  background-color: white;
}

footer h2{
  position: relative;
  top:15px;
  font-size: 90%;
  color: #006DF0;        !important;
  text-decoration: none; !important;
  text-align:inherit;    !important;
  font-family: halfmoon; !important;
}

.shadow-box{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
	border-bottom: 2px solid #d0d4d9;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  text-align:center;
  overflow: hidden;
  background-color: white;
}
.shadow-box .button-link{
  position: absolute;
  padding:7px 16px;
  top:20px;
  right: 335px;
  border:1px solid #006DF0;
  border-radius:10px;
  color: #006DF0;
  text-decoration: none;
  text-align:inherit;
  font-family: halfmoon_b, sans-serif;
    display: block;
    outline: none;
    background: white;
}
.logo{
    padding: 7px;
}
.quiz-style{
    color: black;

}
.div_quiz{
    display: block;
    margin: auto; 
    width: 450px; 
    border-radius: 25px;
    background: lightblue;
}
.submit-quiz{
    width: 100px;
    height: 25px;
    border: 1px solid #006DF0;
    border-radius: 10px;
    color: #006DF0; 
    background: white;
    outline: none;
}